
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/detailMovie.css}" rel="stylesheet" />
  <link th:href="@{/css/button.css}" rel="stylesheet" />
  <link th:href="@{/css/editMovie.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,600&display=swap" rel="stylesheet">
  <title>Library Movie</title>
</head>

<body>
  <details>
    <summary class="nameMenu">Menu</summary>
    <nav class="menu">
      <a th:href="@{/}">Home</a>
      <a th:if="${loggedUser != null}" th:href="@{/addMovie}">Add Movie</a>  
      <a th:if="${loggedUser != null}" th:href="@{/logout}">Logout</a>
      <a th:if="${loggedUser == null}" th:href="@{/loginForm}">Login</a>
      <a href="#link">Contact</a>
      <a href="#link">About</a>
    </nav>
  </details>