
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/detailMovie.css}" rel="stylesheet" />
  <link th:href="@{/css/button.css}" rel="stylesheet" />
  <link th:href="@{/css/editMovie.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,600&display=swap" rel="stylesheet">
  <title>Library Movie</title>
</head>

<body>
<details>
    <summary class="title">Menu</summary>
    <nav class="menu">
      <a href="#link">Home</a>
      <a href="#link">Login</a>
      <a href="#link">Logout</a>
      <a href="#link">Contact</a>
      <a href="#link">About</a>
    </nav>
  </details>