<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/detailMovie.css}" rel="stylesheet" />
  <link th:href="@{/css/button.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,600&display=swap" rel="stylesheet">
  <title>Detail Movie</title>
</head>

<body>
  <div class="container">
    <div class="page">
      <div>
        <h1>Detail Movie</h1>
      </div>
    </div>
    <div class="containerCardDetail">
      <a href="" alt="Mythrill">
        <div class="card">
          <div class="wrapper">
            <img th:src="${movie.image}" class="cover-image" />
          </div>
          <div class="title">
            <span th:text="${movie.title}" class="cardTitle"></span>
            <div th:each="director: ${movie.director}" class="director">
              <span th:text="${director.lastName}"></span>
              <span th:text="${director.firstName}"></span>
            </div>
            </br>
            <div class="synopsis">
              Synopsis :
              <span th:text="${movie.synopsis}"></span>
            </div>
            </br>
            <div class="year">
              Année :
              <span th:text="${movie.year}"></span>
            </div>
            <div class="duration">
              Durée :
              <span th:text="${movie.duration}"></span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="btnContainer">
      <div class="btn1">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em" th:href="@{/}">Retour</a>
      </div>
      <div class="btn1">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em"
          th:href="@{/editMovie/{id}(id=${movie.id})}">Modifier</a>
      </div>
    </div>
  </div>

</body>

</html>