<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <title>Detail Movie</title>
</head>

<body>
  <div class="container">
    <div class="page">
      <div>
        <h1>Detail Movie</h1>
      </div>
    </div>
    <div class="containerCardDetail">
      <a href="" alt="Mythrill" target="_blank">
        <div class="card">
          <div class="wrapper">
            <img th:src="${movie.image}" class="cover-image" />
          </div>
          <div class="title">
            <span th:text="${movie.title}"></span>
            <div th:each="director: ${movie.director}">
              <span th:text="${director.lastName}"></span>
              <span th:text="${director.firstName}"></span>
            </div>
            <div>
              Année :
              <span th:text="${movie.year}"></span>
            </div>
            <div>
              Durée :
              <span th:text="${movie.duration}"></span>
            </div>
            <div>
              Synopsis :
              <span th:text="${movie.synopsis}"></span>
            </div>
          </div>
          <img th:src="${movie.image2}" class="character" />
        </div>
      </a>
    </div>
  </div>
</body>

</html>