<!DOCTYPE html>
<html>
  <div th:include="include/header"></div>
  <div class="containerDetails">
    <div class="page">
      <div>
        <h1>Detail Movie</h1>
      </div>
    </div>
    <div class="containerCardDetail">
      <a href="" alt="Mythrill">
        <div class="cardDetails">
          <div class="wrapperDetails">
            <img th:src="${movie.image}" class="cover-image" />
          </div>
          <div class="titleDetails">
            <span th:text="${movie.title}" class="cardTitleDetails"></span>
            <div th:each="director: ${movie.director}" class="directorDetails">
              <span th:text="${director.lastName}"></span>
              <span th:text="${director.firstName}"></span>
            </div>
            </br>
            <div class="synopsis">
              Synopsis :
              <span th:text="${movie.synopsis}"></span>
            </div>
            </br>
            <div class="year">
              Année :
              <span th:text="${movie.year}"></span>
            </div>
            <div class="duration">
              Durée :
              <span th:text="${movie.duration}"></span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="btnContainer">
      <div class="btn1">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em" th:href="@{/}">Cancel</a>
      </div>
      <div class="btn1" th:if="${loggedUser != null}">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em"
          th:href="@{/editMovie/{id}(id=${movie.id})}">Edit</a>
      </div>
      <div class="btn1" th:if="${loggedUser != null}">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em"
          th:href="@{/movieRemove/{id}(id=${movie.id})}">Delete</a>
      </div>
    </div>

    
  </div>

</body>

</html>