<!DOCTYPE html>
<html>

<div th:include="include/header"></div>
  <div class="container">
    <div class="page">
      <div>
        <h1>Edit Movie</h1>
      </div>
    </div>
    <div class="form">
      <form action="/movie" th:object="${formMovie}" method="post">
        <div class="title">
          <div class="label">
            Title :
          </div>
          <div class="value">
            <input th:field="${movie.title}" />
          </div>
        </div>

        <div class="director">
          <div class="label">
            Director :
          </div>
          <div>
            <input th:field="${movie.director.lastName}" />
            <input th:field="${movie.director.firstName}" />
          </div>
        </div>

        <div class="year">
          <div class="label">
            Année :
          </div>
          <div>
            <input th:field="${movie.year}">
          </div>
        </div>

        <div class="duration">
          <div class="label">
            Durée :
          </div>
          <div>
            <input th:field="${movie.duration}">
          </div>
        </div>

        <div class="synopsis">
          <div class="label">
            Synopsis :
          </div>
          <div>
            <textarea th:field="${movie.synopsis}" rows="5" cols="33"></textarea>
          </div>
        </div>

      </form>
    </div>

    <div class="btnContainer">
      <div class="btn1">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em"
          th:href="@{/detailMovie/{id}(id=${movie.id})}">Retour</a>
      </div>
      <div class="btn2">
        <a class="btn" style="--color:white;--border:2px;--slant:.5em" th:href="@{/}">Valider</a>
      </div>
    </div>
  </div>

</body>

</html>