<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:include="include/header"></div>
  <div class="container">
    
    <div class="page">
      <div>
        <h1>All Film</h1>
      </div>
    </div>

    <div th:if="${member}">
      
    <div class="info" th:text=" 'Hi, ' + ${member.login}">Hi, User</div>
    </div>
    <div th:unless="${member}"> 
      <div class="info">Welcome, Guest</div>
    </div>

    <div class="containerCard">
      <div th:each="movie: ${movies}" class="cardCustom">
        <a th:href="@{/detailMovie/{id}(id=${movie.id})}" alt="Mythrill">
          <div class="card">
            <div class="wrapper">
              <img th:src="${movie.image}" class="cover-image" />
            </div>
            <div class="title">
              <span th:text="${movie.title}"  class="cardTitle"></span>
              <div th:each="director: ${movie.director}" class="director">
                <span th:text="${director.lastName}"></span>
                <span th:text="${director.firstName}"></span>
              </div>
            </div>
            <img th:src="${movie.image2}" class="character" />
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>