<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,600&display=swap" rel="stylesheet">
  <title>home</title>
</head>

<body>
  <div class="container">
    <div class="page">
      <div>
        <h1>All Film</h1>
      </div>
    </div>
    <div class="containerCard">
      <div th:each="movie: ${movies}" class="cardCustom">
        <a th:href="@{/detailMovie/{id}(id=${movie.id})}" alt="Mythrill">
          <div class="card">
            <div class="wrapper">
              <img th:src="${movie.image}" class="cover-image" />
            </div>
            <div class="title">
              <span th:text="${movie.title}"  class="cardTitle"></span>
              <div th:each="director: ${movie.director}" class="director">
                <span th:text="${director.lastName}"></span>
                <span th:text="${director.firstName}"></span>
              </div>
            </div>
            <img th:src="${movie.image2}" class="character" />
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>